body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f3f3f3;
  color: #333;
}

header {
  background-color: #2e7d32; /* темно-зелений */
  color: white;
}

.announcement-bar {
  background-color: #43a047; /* яскравіший зелений */
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.navbar {
  background-color: #2e7d32;
  display: flex;
  justify-content: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding: 10px;
  margin: 0;
  gap: 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.navbar li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 50px;
  text-align: center;
}

h2 {
  color: white;
  background-color: #2e7d32;
  padding: 15px;
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery img {
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

footer {
  background-color: #2e7d32;
  color: white;
  text-align: center;
  padding: 20px;
}
